@model Contact

<h1>
    Szczegóły
</h1>
<h3>imie - @Model.Name</h3>
<h3>e-mail - @Model.Email</h3>
<h3>numer telefonu - @Model.Phone</h3>
<h3>data urodzenia - @Model.Birth</h3>
<h3>data tworzenia - @Model.Created</h3>
<a class="btn btn-primary" asp-action="Index">Powrót</a>